/* You can add global styles to this file, and also import other style files */

body {
    height: 100%;
    margin: 0;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}